body {
  background-color: transparent;
}

.color-list {
  list-style: none;
  padding: 0;
}

.color-entry {
  width: 100%;
  display: flex;
  margin-bottom: 0.4em;
  border: 1px solid var(--vscode-input-border);
}

.color-preview {
  width: 2em;
  height: 2em;
}

.color-preview:hover {
  outline: inset white;
}

.color-input {
  display: block;
  flex: 1;
  width: 100%;
  color: var(--vscode-input-foreground);
  background-color: var(--vscode-input-background);
  border: none;
  padding: 0 0.6em;
}

.add-color-button {
  display: block;
  border: none;
  margin: 0 auto;
}

.delete-button {
  background-color: rgb(153, 42, 42);
}

.delete-button:hover {
  background-color: rgb(153, 42, 42);
}

.delete-confirmation-button {
  background-color: rgb(153, 42, 42);
}

.delete-confirmation-button:hover {
  background-color: rgb(153, 42, 42);
}

.update-button {
  background-color: rgb(80, 77, 77);
}

.update-button:hover {
  background-color: rgb(80, 77, 77);
}

.update-button {
  background-color: rgb(80, 77, 77);
}

.update-button:hover {
  background-color: rgb(80, 77, 77);
}

.test-connection-button {
  background-color: rgb(80, 77, 77);
}

.test-connection-button:hover {
  background-color: rgb(80, 77, 77);
}

.cancel-button {
  background-color: rgb(80, 77, 77);
}

.cancel-button:hover {
  background-color: rgb(80, 77, 77);
}
